@use './variables' as *;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }
}

@mixin btn-base {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: inline-block;
}

@mixin btn-primary {
  @include btn-base;
  background: $color-primary;
  color: white;

  &:hover {
    background: $color-primary-dark;
  }
}

@mixin btn-secondary {
  @include btn-base;
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover {
    background: $color-primary;
    color: white;
  }
}
