$bp-tablet: 768px;
$bp-desktop: 1440px;

$font-title: "Inter", sans-serif;

$color-primary: #6c5ce7;
$color-primary-dark: #4b3cc4;
$color-accent: #a29bfe;

$color-bg: #0f0f17;
$color-surface: #161622;

$color-text: #eaeaea;
$color-muted: #a0a0a0;

