@use '../abstracts/abstracts' as *;

.about {
  padding: 100px 0;
  text-align: center;

    background: linear-gradient(
    180deg,
    $color-bg 0%,
    $color-surface 100%
  );

  &__text {
    color: $color-muted;
    max-width: 800px;
    margin: 0 auto 16px;
    line-height: 1.6;
  }
}

.section {
  &__title {
    text-align: center;
    margin-bottom: 60px;
    color: $color-text;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 70px;
        height: 3px;
        margin: 12px auto 0;
        background: linear-gradient(
        to right,
        $color-primary,
        $color-accent
        );
        border-radius: 2px;
        
    }
  }
}