@use '../abstracts/abstracts' as *;

.header {
  background-color: $color-surface;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  position: relative;

  &__brand {
    font-size: 1rem;
    font-weight: 600;
    color: $color-text;
  }

  &__toggle {
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;

    &.is-active {
      .navbar__icon--menu {
        opacity: 0;
        transform: scale(0.8);
      }

      .navbar__icon--close {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__icon {
    position: absolute;
    inset: 0;

    stroke: $color-text;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;

    transition: opacity 0.3s ease, transform 0.3s ease;

    &--menu {
      opacity: 1;
    }

    &--close {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  
  

  &__icon {
    stroke: $color-text;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;
  }

  &__menu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: $color-surface;
    border-top: 1px solid rgba(255, 255, 255, 0.05);

    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition: all 0.3s ease;

    &.is-open {
      max-height: 300px;
      opacity: 1;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    list-style: none;
    margin: 0;
    padding: 1.5rem 0;
  }

  &__link {
    text-decoration: none;
    color: $color-muted;
    font-size: 0.95rem;
    position: relative;
    transition: color 0.2s ease;

    &:hover {
      color: $color-accent;
    }

    &.active {
      color: $color-accent;
    }
  }

  /* DESKTOP */
  @media (min-width: 768px) {
    &__toggle {
      display: none;
    }

    &__menu-wrapper {
      position: static;
      max-height: none;
      opacity: 1;
      width: auto;
      border: none;
    }

    &__menu {
      flex-direction: row;
      gap: 2rem;
      padding: 0;
    }

    &__link {
      font-size: 0.9rem;

      &.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-accent;
      }
    }
  }
}